.Order {}




.position-search {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.6);
}

.icon-search {
    min-height: 200px;
    /* Set minimum height */
    flex: 1 1 auto;
    /* Make it flexible */
    margin-bottom: 10px;
}


.close-search:hover {
    background: #f00303;
    cursor: pointer;
    height: 50px;

}

.realPrice {
    color: #ff6700;
    opacity: 0 !important;
}

.realPrice:hover {
    opacity: 1 !important;
}

.position-payment {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 99;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100% !important;
    height: 100%;

}

.icon-payment {
    min-height: 200px;
    /* Set minimum height */
    flex: 1 1 auto;
    /* Make it flexible */
    margin-bottom: 10px;
}

.background-order {
    background-image: url('../images/home,create.jpg');
    background-size: cover;
    /* or 'contain' */
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh;
    /* Set the height as needed */
    width: 100%;
    /* Set the width as needed */
}