.Search {}

.background-search {
    background-image: url('3.jpg');
    background-size: cover;
    /* or 'contain' */
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh;
    /* Set the height as needed */
    width: 100%;
    /* Set the width as needed */
}